


div{
    border: 3px solid green;
    border-radius: 80px;

   width: 500px;
   height: 500px;
   margin: 0px auto;
   position: relative;
   background-color:lightgreen;
   margin-top: 50px;
   
}
img{
    width: 100px;
    height: 100px;
    position:absolute;
    right: -10px;;
}
